/* =====Merriweather */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');



@font-face {
	font-family: 'AeroMatics';
	src: url("../fonts/AeroMaticsBold.woff2") format("woff2"), url("../fonts/AeroMaticsBold.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
}



@font-face {
	font-family: 'AeroMaticsItalic';
	src: url("../fonts/AeroMaticsDisplayItalic.woff2") format("woff2"), url("../fonts/AeroMaticsDisplayItalic.woff") format("woff");
	font-display: swap;
	font-weight: 700;
	font-style: italic;
}
